<!-- <!DOCTYPE html>
<html>
<h1>Upload your image</h1>
  <%= typeof msg != 'undefined' ? msg : '' %>
<body>
<form action="/upload" method="post" enctype="multipart/form-data">
  Select image to upload:
  <input type="file" name="myImage" id="myImage">
  <input type="submit" value="Upload Image" name="submit">
</form>
<br>
<img src="<%= typeof file != 'undefined' ? file : '' %>" class="responsive-img">

</body>
</html> -->

<html>
<h1>Choose your images to upload</h1>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<form action="https://plenty-of-dish-images.s3.eu-west-2.amazonaws.com" method="post" enctype="multipart/form-data">
<input type="text" name="key" value="" />
<input name="file" type="file" />
<input name="submit" value="Upload" type="submit" />
</form>
</body>
