<html>

<head>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" type="text/css"
    rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <link rel='stylesheet' href='/stylesheets/chat.css' />
</head>

<body class="text-center">
  <div class="container">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto">
        <div class="inner">
          <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link active" href="/">Homepage</a>
            <a class="nav-link" href="/user/myprofile">Profile</a>
            <a class="nav-link" href="/user/suggested-matches">Suggested matches</a>
            <a class="nav-link" href="/user/matches">Your bowlmates</a>
            <a class="nav-link" href="/user/catches">More catches</a>
            <a class="nav-link active" href="/user/chat">Plenty of chat</a>
            <a class="nav-link" href="/logout">Log Out</a>
          </nav>
        </div>
      </header>
    <main role="main" class="inner cover">
    <h1 class="cover-heading"> Let's taco bout us</h1>
    <h3 class="text-center">
      {{#each user}}
      <h2>Welcome, {{this.name}}!</h2>
      <h2>Grab your favourite treat and chat away</h2>
      {{/each}}
    </h3>
    <ul class="instructions">
      <li>Remember to save your username before sending a message &#128140;</li>
      <li>Type @name (user's name in chat) to send a private message &#128064;</li>
    </ul>
    <div class="users_online">
      <p class="users">users online:</p>
      <div id="users"></div>
    </div>
    <div class="messaging">
      <div class="inbox_msg">
        <div class="inbox_people">
          <div class="headind_srch">
            <div class="type_msg">
              <div class="input_msg_write">
                <input type="text" class="write_msg" id="username" placeholder="Type your name" />
                <button class="msg_send_btn" type="button" id="change_username"><i class="fa fa-paper-plane-o"
                    aria-hidden="true"></i>
                </button>
              </div>
            </div>
            <div class="type_msg">
              <div class="input_msg_write">
                <input type="text" class="write_msg" id="message" placeholder="Type a message" />
                <button class="msg_send_btn" type="button" id="change_message"><i class="fa fa-paper-plane-o"
                    aria-hidden="true"></i></button>
              </div>
            </div>
          </div>
          <div class="inbox_msg">
            <div class="chat_img"> <img src="/public/images/avocado.png" alt="avocado"> </div>
            <div id="feedback"> </div>
          </div>
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
          <script src="/public/javascripts/chat.js"></script>
        </div>
      </div>
    </div>
    <footer class="mastfoot mt-auto">
      <div class="inner">
        Copyright &copy; Plenty of Dish 2020
      </div>
    </footer>
  </div>
</body>

</html>
