<!DOCTYPE=html>
<html lang="en">
<head>
  <style>
body {font: 20px "Roboto Light", Helvetica, sans-serif;}
h1   {color: white;}
p    {color: #0c0c0c;}
.email-text {background-image: linear-gradient(to right, #d9a7c7 , #fffcdc);
  border-radius: 8px;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;}
</style>
</head>
<body>
  <div class = "email-text">
  <h1> Hi there! </h1>
  <br>
  <p>You are one step closer to finding your perfect pear. That's kind of a big dill!</p>
  <br>
  <p>Once you log in, please head to the "Profile" section, and edit your information.</p>
  <p>Then, feel free to explore potential catches, connect with your chosen foodies, and chat to the Plenty of Dish community in our chat section.</p>
  <br>
  <p>Most importantly, be respectful and have fun!</p>
  <p>We ap-peach-iate you</p>
</div>
</body>
</html>
