<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Plenty of Dish</title>

  <link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/album/">

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<link rel='stylesheet' href='/stylesheets/error.css' />
</head>
<header class="masthead mb-auto">
<div class="inner">
  <nav class="nav nav-masthead justify-content-center">
    <a class="nav-link active" href="/user/myprofile">My Profile</a>
    <a class="nav-link" href="/">Homepage</a>
    <a class="nav-link" href="/user/matches">Your chosen bowlmates</a>
    <a class="nav-link" href="/user/catches">More catches</a>
    <a class="nav-link" href="/logout">Log out</a>
  </nav>
</div>
</header>
<DIV class="container">
  <br>
  <h1> This is an error page </h1>
  <br>
  <center>
    <img src="https://tenor.com/view/it-crowd-moss-computer-throw-gif-5404468.gif" class="error-image" alt="throw computer gif">
  </center>
  <br>
  <form id="signin" action="/signin">
      <input type="submit" value="Sign in" />
  </form>
  <form id="signup" action="/signup">
      <input type="submit" value="Sign up" />
  </form>
</DIV>
