
<head>
  <link rel="stylesheet" href="stylesheets/error.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<DIV class="container">
  <br>
  <h1>This is an error page</h1>
  <br>
  <p style="font-size:100px">&#129488;</p>
  <br>
  <form id="signin" action="/signin">
      <input type="submit" value="Sign in" />
  </form>
  <form id="signup" action="/signup">
      <input type="submit" value="Sign up" />
  </form>
</DIV>
