<h1>Your potential soulmates:</h1>

<ul class="user">
  {{#each user}}
  <div class = profile-card>
  <li>{{this.name}}</li>
  <li>{{this.age}}</li>
  <li>{{this.location}}</li>
  <a class="view-user-profile" href="/user/profile/{{this._id}}">View profile</a>
</div>
  <br>
  {{/each}}
</ul>
<a class="reset-random-profiles" href="/user/bachelors">Show me someone else</a>
