<form id="new-user-form" action="/user" method="post">
  <label for="name">Name: </label>
  <input id="name" type="text" name="name" value="">
<br>
  <label for="age">Age: </label>
  <input id="age" type="text" name="age" value="">
<br>
  <label for="location">Location: </label>
  <input id="location" type="text" name="location" value="">
<br>
  <label for="zodiac">Zodiac Sign: </label>
  <input id="zodiac" type="text" name="zodiac" value="">
<br>
  <label for="breakfast">Breakfast dish: </label>
  <input id="breakfast" type="text" name="breakfast" value="">
<br>
  <label for="lunch">Lunch dish: </label>
  <input id="lunch" type="text" name="lunch" value="">
<br>
  <label for="dinner">Dinner dish: </label>
  <input id="dinner" type="text" name="dinner" value="">
<br>
  <label for="dessert">Dessert dish: </label>
  <input id="dessert" type="text" name="dessert" value="">
<br>
  <label for="amdrink">AM drink of choice: </label>
  <input id="amdrink" type="text" name="amdrink" value="">
<br>
  <label for="pmdrink">PM drink of choice: </label>
  <input id="pmdrink" type="text" name="pmdrink" value="">
<br>
  <label for="guilty">Guilty pleasure: </label>
  <input id="guilty" type="text" name="guilty" value="">
<br>

  <input type="submit" value="Submit">
</form>
