<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Plenty of Dish</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/album/">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <link rel='stylesheet' href='/stylesheets/matching.css'/>
</head>
<header class="masthead mb-auto">
  <div class="inner">
    <nav class="nav nav-masthead justify-content-center">
      <a class="nav-link active" href="/user/myprofile">My Profile</a>
      <a class="nav-link" href="/">Homepage</a>
      <a class="nav-link" href="/user/suggested-matches">Suggested matches</a>
      <a class="nav-link" href="/user/matches">Your chosen bowlmates</a>
      <a class="nav-link" href="/user/catches">More catches</a>
      <a class="nav-link" href="/logout">Log out</a>
    </nav>
  </div>
</header>
  <br>
  <br>
  <br>
<center><h1> Look familiar? </h1></center>
<br>
<center><h2> You just tried to match with yourself {{name}}! </h2></center>
<br>
<center><p>  Maybe you don't need this site... <p> <center>
<br>
<center>
<img src="https://media.giphy.com/media/WNizdCzxQMlb0Ho9OB/giphy.gif" class="potato-image" alt="potato in love with mirror">
</center>
<br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <center>
  <footer class="mastfoot mt-auto">
    <div class="inner">
      Copyright &copy; Plenty of Dish 2020
    </div>
  </footer>
</center>

  <script>
    var timer = setTimeout(function() {
        window.location='/user/catches'
    }, 4000);
    </script>
