body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #5ca4a9;
}

.user-short-info {
  background-color: #f5e6e8;
  border-radius: 6px;
}

.user {
  list-style: none;
}

h1 {
  color: #ed6a5a;
}
